/* Utilities and Glaboal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --primary-color: #161616;
    --secondary-color: #DD0000;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container {
    padding: 0% 7%;
}

.primary-btn {
    background: var(--secondary-color);
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.secondary-btn {
    background: #fff;
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 5px;
    color: var(--primary-color);
    text-align: center;
    font-weight: 500;
}

.primary-btn > i {
    margin-left: 10px;
}

.outline-btn {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 4px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    text-align: center;
}



/* Hero Section Starts */
.hero {
    background: var(--primary-color);
    border-radius: 30px;
    width: 86%;
    padding: 7% 7% 0;
    margin-top: 4%;
    display: flex;
}

.hero-text {
    flex: 1;
}

.hero-text h1, .hero-text p {
    color: #fff;
    margin-bottom: 40px;
    margin-top: 40px;
}

.hero-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}

.hero-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-image img {
    height: 600px;
}


/* Button Group and Matches */
.matches {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.btn-group {
    background: var(--primary-color);
    width: 312px;
    height: 225px;
    padding: 30px;
    border-radius: 10px;
    margin-right: 24px;
}

.btn-group a{
    display: block;
    margin-bottom: 30px;
    border-radius: 10px;
}


/* Match Videos Grid */
.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: 100%;
}

.single-video {
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    border-radius: 15px;
    width: 100%;
}


.video-info {
    padding: 20px;
}

.video-title {
    font-weight: 600;
    font-size: 24px;
    color: var(--primary-color);
}

.video-info p {
    color: #444;
    font-size: 16px;
}

.video-info span {
    margin-right: 20px;
}

/* Footer Section */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
    margin-top: 130px;
    padding: 4% 7%;
}

footer h2 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}

footer > ul {
    display: flex;
    border-top: 1px solid #333;
    padding: 30px 0px;
    margin: 0;
}

footer > ul > li {
    list-style: none;
}

footer > ul > li > a {
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    margin: 30px;
}

/* Social Icons Group */
.social-icons a {
    display: inline-block;
    background: #fff;
    color: var(--primary-color);
    text-align: center;
    width: 30px;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    transition: 200ms ease-in;
}

.social-icons a:hover {
    background: var(--secondary-color);
    color: #fff;
}


/* Upcoming Page Styles */

.match-time {
    padding: 50px 10px 30px;
}

.match-time p {
    color: var(--primary-color);
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag img {
    width: 120px;
}

.flag p {
    margin: 0 20px;
    font-weight: 700;
    font-size: 16px;
} 

.country-name {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.match-time > p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}


/* Responsive Styles */
@media only screen and (min-width: 992px) and (max-width: 1312px){
    .hero {
        padding: 3% 7% 0;
    }

    .hero-title {
        font-size: 70px;
    }

    .videos {
        grid-template-columns: repeat(2, 1fr);
    }

}